.favorites {
  position: relative;
}

.networkChart {
  z-index: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 100px;
  left: 0;
}

.infoBox {
  font-weight: 500;
  position: absolute;
  top: 10px;
  left: -600px;
  width: 300px;
  max-height: 500px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(12px);
  box-shadow: 0 10px 15px -3px rgba(200, 200, 200, 0.3);
  border-radius: 20px;
  z-index: 1000;
  overflow-y: auto;
  font-size: 1.1rem;
}

.bookmarkButton {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  border: none;
  background: none;
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 100;
}

.nodeTitle {
  font-weight: 700 !important;
  cursor: pointer;
}

.nodeList {
  list-style: none;
  padding: 0;
}

.nodeList li {
  border-bottom: 2px solid #fafafa;
  padding: 0.5rem 1rem;
  position: relative;
  list-style: none !important;
}

.nodeList li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.nodeList p {
  color: #fafafa;
  margin: 0.2rem 0 !important;
  font-weight: 400;
}

.nodeList span {
  font-weight: 700;
}

.infoBox::-webkit-scrollbar {
  width: 0.5rem;
}

.infoBox::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.infoBox::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1rem;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.infoBox::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.infoFullBox {
  font-weight: 500;
  position: absolute;
  top: 10px;
  left: -600px;
  width: 300px;
  max-height: 500px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  box-shadow: 0 10px 15px -3px rgba(200, 200, 200, 0.3);
  border-radius: 20px;
  z-index: 1000;
  overflow-y: auto;
  font-size: 1rem;
}

.infoFullBox::-webkit-scrollbar {
  width: 0.5rem;
}

.infoFullBox::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.infoFullBox::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1rem;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.infoFullBox::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.closeFullBoxButton {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  border: none;
  background: none;
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 100;
}

.fullListButton {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: #2e2e2e;
  z-index: 1000;
}

.fullListButton:hover {
  background-color: #ccc;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 700;
  color: #2e2e2e;
}

@media (max-width: 768px) {
  .infoBox {
    width: 290px;
    max-height: 200px;
    padding: 0.5rem;
    left: 50%;
    top: 300px;
    transform: translateX(-50%);
    font-size: 1rem;
  }

  .closeButton {
    top: 0.5rem;
    right: 0.5rem;
    font-size: 0.8rem;
  }

  .nodeList li {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }

  .nodeList li:last-child {
    margin-bottom: 0;
  }

  .nodeList p {
    margin: 3px 0;
  }

  .infoFullBox {
    width: 290px;
    max-height: 200px;
    padding: 0.5rem;
    left: 50%;
    top: 300px;
    transform: translateX(-50%);
    font-size: 1rem;
  }
}

.modal {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2e2e2e;
  color: #fafafa;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  transition: opacity 0.5s ease;

  @media (max-width: 768px) {
    white-space: pre-line; // 줄바꿈을 허용하도록 설정
    font-size: 0.875rem;
    width: 55%;
    text-align: center;
  }
}
