.copyBtn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 0.3125rem;
}

.copyIcon {
  width: 1.2rem;
}

.text {
  font-size: 1rem;
  color: #000;
  overflow: hidden; /* 내용이 넘칠 때 숨김 */
  display: -webkit-box; /* 플렉스 컨테이너로 설정 */
  -webkit-line-clamp: 9; /* 표시할 줄 수를 7로 설정 */
  -webkit-box-orient: vertical; /* 수직 방향으로 정렬 */
  text-overflow: ellipsis; /* 텍스트가 넘칠 때 '...' 표시 */
  height: calc(2rem * 7); /* 높이 설정: 1줄 높이 * 7줄 */
  width: 100%;
}
