/* Relation.module.scss */

.relation {
  display: flex;
  padding: 0rem 9.375rem 3.5rem 9.375rem;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
}

.title {
  display: flex;
  padding: 0.75rem 1.0625rem;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;

  border-bottom: 1px solid rgba(46, 46, 46, 0.2);
}

.list {
  // display: inline-flex; /* 기존 flex에서 inline-flex로 변경 */
  // padding: 0.625rem 2rem 0.625rem 0; /* 좌우에 여백을 주어 카드의 그림자가 잘리지 않도록 설정 */
  // align-items: flex-start;
  // gap: 0.625rem;
  // align-self: stretch;
  width: 100%;
  // overflow-x: auto; /* 스크롤 생기도록 설정 */
  // white-space: nowrap; /* 카드가 한 줄에 나란히 배치되도록 설정 */

  // /* 스크롤 바 숨기기 */
  // scrollbar-width: none; /* Firefox 용 */
  // -ms-overflow-style: none; /* IE, Edge 용 */
  // }

  // .list::-webkit-scrollbar {
  //   display: none; /* Chrome, Safari, Opera 용 */
}

.card {
  display: inline-flex;
  flex-direction: column;
  cursor: pointer;
  // width: 500px;
  // height: 9.375rem;
  // height: auto;
  padding: 1.9375rem 2rem;
  margin: 0.625rem 0; /* 위아래 여백 추가 */
  justify-content: space-between;
  border-radius: 0.8125rem;
  background: #fff;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

  position: relative;
}

.tag {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: flex-end;
  gap: 0.625rem;
}
