.statistics {
  display: flex;
  padding: 0rem 9.375rem 2.875rem 9.375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;

  @media (max-width: 768px) {
    padding: 0rem 1.25rem 3.5rem 1.25rem;
  }
}

.title {
  display: flex;
  padding: 0.75rem 1.0625rem;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;

  border-bottom: 1px solid rgba(46, 46, 46, 0.2);
}

.graphArea {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;

  & {
    @media (max-width: 1150px) {
      flex-direction: column;
      gap: 3rem;
      align-items: center;
    }
  }
}

.graph {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.56rem 0;
  width: 17.25rem;
  height: 21.25rem;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0.625rem;
  background: #fff;
}

.graphTitle {
  font-weight: bold;
}

.darkLine {
  border-bottom: 1px solid #626262;
}
