.summary {
  display: flex;
  padding: 1.5625rem 9.375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
}

.title {
  display: flex;
  padding: 0.75rem 1.0625rem;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border-bottom: 1px solid rgba(46, 46, 46, 0.2);
}

.contentArea {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  // display: inline-block;

  display: flex;
  height: 18.75rem;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border-radius: 2.375rem;
  background: rgba(255, 255, 255, 0.5);
  box-shadow:
    0px 4px 10px 0px rgba(0, 0, 0, 0.25),
    4px 4px 4px 3px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);
}

.text {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  // height: 100%; /* 필요에 따라 높이 조정 */
  font-size: 1rem;
  color: #000;
  padding: 2rem;
  line-height: 2rem;

  overflow: hidden; /* 내용이 넘칠 때 숨김 */
  display: -webkit-box; /* 플렉스 컨테이너로 설정 */
  -webkit-line-clamp: 9; /* 표시할 줄 수를 7로 설정 */
  -webkit-box-orient: vertical; /* 수직 방향으로 정렬 */
  text-overflow: ellipsis; /* 텍스트가 넘칠 때 '...' 표시 */
  height: calc(2em * 9); /* 높이 설정: 1줄 높이 * 7줄 */
}

.summaryButton {
  display: flex;
  width: 7.8125rem;
  height: 3rem;
  padding: 0.075rem 0.4875rem;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  flex-shrink: 0;
  font-weight: bold;

  border-radius: 0.3rem;
  background: linear-gradient(99deg, #d3c6ff 0.35%, #c8e4ff 52.21%);
  box-shadow:
    0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    4px 4px 4px 0px rgba(0, 0, 0, 0.25);

  transition:
    background 0.5s ease-in 0.5s,
    transform 0.3s;

  &:hover {
    background: linear-gradient(99deg, #c8e4ff 0.35%, #d3c6ff 92.21%);
    transform: scale(1.05); /* 버튼 크기 확대 효과 */
    box-shadow:
      0px 6px 6px 0px rgba(0, 0, 0, 0.3),
      6px 6px 6px 0px rgba(0, 0, 0, 0.3); /* 그림자 효과 증대 */
  }
}
