.ChangePassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.changeform {
  width: 400px;
}

.formGroup {
  margin-bottom: 2rem;
}

.checkWrapper {
  display: flex;
  align-items: center;
}

.formGroup label {
  display: block;
  font-size: 1.56rem;
  margin-bottom: 0.3rem;
  font-weight: 700;
}

.formGroup input {
  box-sizing: border-box;
  flex: 1;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1.25rem;
  width: 100%;
  color: #2e2e2e;
}

.checkButton {
  font-size: 1.25rem;
  box-sizing: border-box;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: #a7c7e7;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  flex-shrink: 0;
  font-weight: 700;
}

.checkButton:hover {
  background-color: #78a4d1;
}

.checkButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.checkButton.dark {
  background-color: #8bafc9;
}

.checkButton.dark:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submitButton {
  box-sizing: border-box;
  width: 100%;
  padding: 0.375rem 0.75rem;
  background-color: #a7c7e7;
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 700;
  margin-bottom: 1rem;
}

.submitButton:hover {
  background-color: #78a4d1;
}

.submitButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submitButton.dark {
  background-color: #8bafc9;
}

.submitButton.dark:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.inputWrapper {
  position: relative;
}

.formGroup input {
  padding-right: 2.5rem;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #2e2e2e;
}

.errorMessage {
  color: red;
  font-size: 1rem;
  margin-top: 0.5rem;
  text-align: center;
  font-weight: 700;
}

@media (max-width: 768px) {
  .changeform {
    width: 290px;
  }

  .formGroup {
    margin-bottom: 1.4rem;
  }

  .formGroup label {
    font-size: 0.875rem;
  }

  .formGroup input {
    height: 35px;
    font-size: 1rem;
  }

  .submitButton {
    width: 150px;
    height: 35px;
    margin-left: 70px;
    padding: 0 0.5rem;
    font-size: 1rem;
  }

  .checkButton {
    height: 35px;
    padding: 0 1rem;
    font-size: 0.75rem;
  }

  .errorMessage {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: 600;
  }
}
