.EditProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editform {
  width: 400px;
}

.formGroup {
  margin-bottom: 2.1rem;
  color: #2e2e2e;
}

.formGroup label {
  display: block;
  font-size: 1.56rem;
  margin-bottom: 0.3rem;
  font-weight: 700;
}

.formGroup .inputWrapper {
  display: flex;
  align-items: center;
}

.formGroup input {
  box-sizing: border-box;
  flex: 1;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1.25rem;
  width: 100%;
  color: #2e2e2e;
}

.formGroup select {
  flex: 1;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
}

.checkButton {
  font-size: 1.25rem;
  box-sizing: border-box;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: #a7c7e7;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  flex-shrink: 0;
  font-weight: 700;
}

.checkButton:hover {
  background-color: #78a4d1;
}

.genderGroup {
  display: flex;
  flex-direction: row;
  gap: 6.25rem;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1rem;
  color: #2e2e2e;
}

.genderGroup div {
  display: flex;
  align-items: center;
}

.genderGroup input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 0rem;
  margin-right: 0.5rem;
}

input[type='radio']:checked {
  background-color: #a7c7e7;
  border: 3px solid white;
  box-shadow: 0 0 0 1.6px #5a9bd8;
}

.submitButton {
  box-sizing: border-box;
  width: 100%;
  padding: 0.75rem;
  background-color: #a7c7e7;
  color: #2e2e2e;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  margin-bottom: 1rem;
}

.withdrawButton {
  display: block;
  font-size: 1rem;
  color: rgba(46, 46, 46, 0.7);
  background: none;
  border: none;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
  margin: 0 auto;
}

.withdrawButton:hover {
  color: #a7c7e7;
  text-decoration: none;
}

@media (max-width: 768px) {
  .signupContainer {
    flex-direction: column;
  }

  .editform {
    width: 290px;
  }

  .formGroup .inputWrapper {
    gap: 0.5rem;
  }

  .formGroup {
    margin-bottom: 1.4rem;
  }

  .formGroup label {
    font-size: 0.875rem;
  }

  .formGroup input {
    height: 35px;
    font-size: 1rem;
  }

  .formGroup select {
    height: 35px;
    font-size: 0.875rem;
    padding: 0 1rem;
  }

  .checkButton {
    height: 35px;
    padding: 0 0.5rem;
    font-size: 0.75rem;
    margin-left: 0;
  }

  .genderGroup input[type='radio'] {
    width: 16px;
    height: 16px;
  }

  .submitButton {
    width: 150px;
    height: 35px;
    margin-left: 70px;
    padding: 0 0.5rem;
    font-size: 1rem;
  }

  .withdrawButton {
    font-size: 0.75rem;
  }
}
