.loginContainer {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}

.loginLeft {
  flex: 1;
}

.loginImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.loginTitle {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.loginForm {
  width: 56%;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formGroup label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.3rem;
  font-weight: 700;
}

.formGroup input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 0.75rem 2rem;
  cursor: pointer;
  box-shadow: none;
}

.signupBtn {
  background-color: #a7c7e7;
  color: #2e2e2e;
  width: 150px;
  height: 50px;
  border-radius: 8px;
  transition: background-color 0.3s;
  border: none;
  font-size: 16;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.signupBtn:hover {
  background-color: #78a4d1;
}

.loginBtn {
  background-color: #a7c7e7;
  color: #2e2e2e;
  width: 150px;
  height: 50px;
  border-radius: 8px;
  transition: background-color 0.3s;
  border: none;
  font-size: 16;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.loginBtn:hover {
  background-color: #78a4d1;
}
