.mypageContainer {
  max-width: 680px;
  margin: 0 auto;
}

.tabMenu {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  border-bottom: 5px solid #2e2e2e;
  gap: 5%;
}

.dark {
  border-bottom: 5px solid #fafafa;
}

.tabButton {
  box-sizing: border-box;
  font-weight: 700;
  padding: 1rem;
  font-size: 2.8rem;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  position: relative;
}

.tabButton.active::before {
  content: '';
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  width: 100%;
  height: 1.4rem;
  background-color: #a7c7e7;
  z-index: -1;
}

.tabButton.active.darks::before {
  background-color: #8bafc9;
}

@media (max-width: 768px) {
  .mypageContainer {
    max-width: 335px;
  }

  .tabMenu {
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #2e2e2e;
    gap: 3%;
  }

  .dark {
    border-bottom: 2px solid #fafafa;
  }

  .tabButton {
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .tabButton.active::before {
    content: '';
    bottom: 1rem;
    left: 0;
    width: 100%;
    height: 0.7rem;
    background-color: #a7c7e7;
    z-index: -1;
  }
}
