.container {
  display: flex;
  padding-top: 2.1875rem;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  border-top: 1px solid rgba(46, 46, 46, 0.2);
}

.titleArea {
  display: flex;
  padding: 1.25rem 9.375rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
}
