.signupContainer {
  display: flex;
  height: 100vh;
}

.signupleft {
  flex: 1;
}

.singupImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signupright {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.signupForm {
  width: 400px;
}

.formGroup {
  margin-bottom: 1rem;
  color: #2e2e2e;
}

.formGroup label {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0.3rem;
  font-weight: 700;
}

.formGroup .inputWrapper {
  display: flex;
  align-items: center;
}

.formGroup input {
  box-sizing: border-box;
  flex: 1;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
  color: #2e2e2e;
}

.formGroup select {
  flex: 1;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
}

.checkButton {
  box-sizing: border-box;
  margin-left: 1rem;
  padding: 0.75rem;
  background-color: #a7c7e7;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  flex-shrink: 0;
}

.checkButton:hover {
  background-color: #78a4d1;
}

.checkButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.genderGroup {
  display: flex;
  flex-direction: row;
  gap: 6.25rem;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1rem;
  color: #2e2e2e;
}

.genderGroup div {
  display: flex;
  align-items: center;
}

.genderGroup input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 0rem;
  margin-right: 0.5rem;
}

input[type='radio']:checked {
  background-color: #a7c7e7;
  border: 3px solid white;
  box-shadow: 0 0 0 1.6px #5a9bd8;
}

.submitButton {
  box-sizing: border-box;
  width: 100%;
  padding: 0.75rem;
  background-color: #a7c7e7;
  color: #2e2e2e;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
}

.submitButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.errorText {
  color: red;
  font-size: 0.875rem;
  text-align: center;
}

@media (max-width: 768px) {
  .signupContainer {
    flex-direction: column;
  }

  .signupleft {
    display: none;
  }

  .signupright {
    width: 100%;
    padding: 1rem;
  }

  .signupForm {
    width: 290px;
  }

  .formGroup .inputWrapper {
    gap: 0.5rem;
  }

  .formGroup input {
    height: 35px;
  }

  .checkButton {
    height: 35px;
    padding: 0 0.5rem;
    font-size: 0.75rem;
  }

  .checkButton {
    margin-left: 0;
  }

  .genderGroup input[type='radio'] {
    width: 16px;
    height: 16px;
  }

  .submitButton {
    width: 150px;
    height: 35px;
    margin-left: 70px;
    padding: 0 0.5rem;
  }

  .errorText {
    font-size: 0.5rem;
    font-weight: 700;
  }
}
