.starContainer {
  max-width: 300px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  border-bottom: 5px solid #fafafa;
  gap: 5%;
}

.mine {
  box-sizing: border-box;
  font-weight: 700;
  padding: 0.1rem 1rem;
  font-size: 2.8rem;
  border: none;
  background: none;
  outline: none;
  position: relative;
}

.main {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .starContainer {
    max-width: 150px;
  }

  .menu {
    margin-bottom: 1rem;
    border-bottom: 2px solid #fafafa;
    gap: 3%;
  }

  .mine {
    padding: 0.1rem 0.5rem;
    font-size: 1.5rem;
  }
}
