@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: 'Pretendard';
  font-weight: 400;
  color: #2e2e2e;
  background-color: #fafafa;
  transition:
    background-color 0.1s ease,
    color 0.1s ease;
  box-sizing: border-box;
}

.dark {
  background-color: #2e2e2e;
  color: #fafafa;
}

/*기존 슬라이더 화살표 없애기*/
.slick-prev::before,
.slick-next::before {
  opacity: 0;
  display: none;
}

#relationList {
  .slick-slide {
    padding-right: 20px;
  }
}

#channelList {
  .slick-slide {
    padding-right: 10px;
  }
}

//슬라이드 내용 크기만큼 width 설정
.slick-track {
  width: max-content;
}

//마크다운 표시를 위한 h1, h2, h3 태그 설정
#note h1 {
  font-weight: bold;
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

#note h2 {
  font-weight: bold;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

#note h3 {
  font-weight: bold;
  font-size: 1.125rem; /* 18px */
  line-height: 1.5rem; /* 24px */
}

#note ul > li {
  list-style-type: disc;
  list-style-position: inside;
}

#note ol > li {
  list-style-type: decimal;
  list-style-position: inside;
}

#note li > ul {
  text-indent: 1rem;
}

#note a {
  opacity: 0.7;
  text-decoration: underline;
  text-underline-offset: 3px;
}

// 통계차트 폰트 적용
g text {
  font-family: 'Pretendard' !important;
  font-size: 0.7rem !important;
  letter-spacing: 0.1px;
}
