.box {
  width: 34%;
  height: 560px;
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  position: relative;
}

.title {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  padding-left: 25px;
  border-bottom: 1px solid #c4c4c4;
}

.chatbox {
  width: 100%;
  height: calc(560px - 60px - 70px);
  overflow-y: auto;
  padding: 1rem;
  scrollbar-color: #626262 transparent;
  scrollbar-width: auto;
  position: relative;
}

@media (max-width: 768px) {
  .box {
    width: 100%;
  }
}

.inputbox {
  display: flex;
  align-items: center;
  width: 100%;
  border-top: 1px solid #c4c4c4;
  height: 70px;
  position: relative;
}

.command {
  position: absolute;
  bottom: 4rem;
  left: 1rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5px;
}

.question {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  bottom: 70px;
  right: 20px;
  background-color: #a7c7e7;
  border-radius: 5px;
}
.loading {
  width: 1rem;
  height: 1rem;
}
