.box {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 15px;
}
.nickname {
  width: 30%;
  color: #71717a;
}
.text {
  margin-left: 1rem;
  width: 65%;
}

.dark {
  color: #fafafa;
}

.chatbot {
  padding: 5px;
  border-radius: 5px;
  background-color: #a7c7e7;
}

.chatdark {
  background-color: #7295b0;
}
