.input {
  background: #ebebeb;
  outline: none;
  font-size: 1rem;
  padding-left: 15px;
  margin-left: 5px;
  width: calc(100% - 10px - 33px);
}

.box {
  display: flex;
  width: 95%;
  margin: 0 auto;
  height: 3.125rem;
  flex-direction: row;
  border-radius: 20px;
  background: #ebebeb;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dark {
  background-color: #626262;
}
