.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: black;
  font-weight: 700;
  font-size: 1.3rem;
}

.buttonGroup {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.confirmButton {
  padding: 0.5rem 1rem;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.cancelButton {
  padding: 0.5rem 1rem;
  background-color: #ccc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.confirmButton:hover {
  background-color: #c9302c;
}

.cancelButton:hover {
  background-color: #999;
}
